<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
</head>
<body>
    <section class="container">
        <div class="chatroom">
            <h3>Chat Room</h3>
                <form action="http://google.com">
                    <input type="submit" value="Logout" style="margin-bottom: 10px">
                </form>
                <form action="http://google.com">
                    <input type="submit" value="Refresh" style="margin-bottom: 10px">
                </form>
                <form action="http://google.com">
                    <input type="submit" value="Leave Room" style="margin-bottom: 10px">
                </form>
                <form action="http://google.com">
                    <textarea rows="4" cols="50" placeholder="some random text">
                    </textarea>
                    <input type="submit" value="Submit" style="margin-bottom: 10px">
                </form>
        </div>
    </section>
</body>
</html>