<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
</head>
<body>    
    @Each.Data
    <h4>
        @Current.FirstName @Current.LastName (@Current.UserName) [@Current.Endpoint]
    </h4>
    @EndEach
    <section class="container">
        <div class="login">
            <h3>Login</h3>
            <form method="post">
                <p><input type="text" name="Username" value="" placeholder="Username"></p>
                <p class="submit"><input type="submit" name="commit" value="Login"></p>
            </form>
        </div>
    </section>
</body>
</html>
