<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
</head>
<body>
    <section class="container">
        <div class="peer.add">
            <h3>Add Peer</h3>
            <form method="post">
                <p><input type="text" name="PeerName" value="" placeholder="Peer Name"></p>
                <p><input type="text" name="Endpoint" value="" placeholder="Endpoint"></p>
            </form>
            <form action="http://google.com">
                <input type="submit" value="Add Peer">
            </form> 
        </div>
    </section>
</body>
</html>
