<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
</head>
<body>
    <h2>Add Peer</h2>
    <form method="post" action="/peer/add">
        <input type="text" name="Endpoint" value="" placeholder="Endpoint"><br>
        <input type="submit" name="commit" value="Add" style="float:left">
    </form>
    <form method="get" action="/chat">
        <input type="submit" value="Go To Chat">
    </form>
    
    @If.Data.HasNeigbors
    <h3>Current Neighbors</h3>
    @EndIf

    @Each.Data.Neighbors
    <h4>@Current.Endpoint</h4>
    @EndEach
</body>
</html>
